.feature {
    @include flex-block(column, center,center);
    flex: 0.30;
    &__icon {
        width: 65px;
        height: 65px;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 22px;
        margin-bottom: 19px;
    }

    &__description {
        color: $blackColor;
        opacity: 0.65;
        line-height: 1.5rem;
    }
}

