.platforms {
    @include flex-block(row, space-between, null);  
    
    &__general-info {
        padding: 7% 8%;
        width: 40%;
    }

    &__rectangle-banner {
        display: flex;
        height: 560px;
        width: auto;
    }
}