.browser-features {
    padding: 6% 6% 0%;
    @include flex-block (column, center, center);

    &__general-info {
        width: 40%;
        margin-bottom: 105px;
    }

    &__banner {
        width: 100%;
        max-width: 800px;
        height: auto;
    }

    @media screen and (max-width: 992px) {
        &__general-info {
            margin-bottom: 55px;
            width: 60%;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 9% 6% 0%;

        &__general-info {
            font-size: 14px;
        }
    }
}