.button {
  text-transform: uppercase;
  color: $whiteColor;
  background-color: $coralColor;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
  transition: hover 0.5s ease-in-out;
  width: 270px;
  height: 52px;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 27px $tryBtnHover;
  }

  &_small {
    width: 92px;
    height: 52px;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 1px 1.2px 0.8px 0.5px rgb(185, 182, 182);
    @include flex-block;
  }
}