.features {
  padding: 6% 10%;
  background: url(../../images/bg/bgfeatures-coffee.png) 95% 100% no-repeat,
    url(../../images/bg/bgfeatures-earphones.png) 95% 0 no-repeat,
    url(../../images/bg/bgfeatures-pens.png) 5% 0 no-repeat;
  background-color: $lightGreyColor;

  &__general-info {
    text-align: center;
  }


  &__features-list {
    @include flex-block(row, space-around, flex-start);
    flex-wrap: wrap;
    margin: 91px 0 70px 0;
  }

  &__feature {
    margin: 30px 34px;
    text-align: center;
    height: 100%;
  }

  @media screen and (max-width: 992px) {
    background: $lightGreyColor;
    padding: 9% 3%;

    &__features-list {
      margin: 40px 0px 0px;
    }

    &__feature:first-child {
      // margin-top: 0px;
    }

    &__feature:last-child {
      // margin-bottom: 0px;
    }
  }
}