.footer {
    background: url('../../images/bg/bgfooter.png') center;
    background-repeat: no-repeat;
    width: 100%;
    background-position: top right;


    &__container {
        @include flex-block (row, center, start);
        flex-wrap: wrap;
        gap: 40px;
        padding: 6% 10%;
        width: 80%;
    }

    &__support,
    &__about,
    &__contact,
    &__newsletter {
        padding: 0px 40px;
        max-width: 230px;
    }

    &__input-wrapper {
        display: flex;
    }

    &__input {
        background-color: $footerInputColor;
        border: 1.5px solid $boldTextGreyColor;
        margin: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        color: $boldTextGreyColor;
        width: 100%;

        &::placeholder {
            color: $smallTextGreyColor;
        }
    }

    &__button {
        width: 92px;
        height: 52px;
        padding: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: 1px 1.2px 0.8px 0.5px rgb(185, 182, 182);
        @include flex-block;
    }

    &__social-icons {
        margin-top: 20px;
    }

    &__send-icon {
        width: 20px;
        height: 20px;
    }

    @media screen and (max-width: 768px) {
        background: $whiteColor;

        &__container {
            gap: 10px;
            padding: 9% 6%;
            @include flex-block (column, center, center);
            flex-wrap: wrap;
        }

        &__support,
        &__about,
        &__contact,
        &__newsletter {
            padding: 0px;
        }
    }
}