.team-member {
    min-width: 28%;
    &__photo {
        margin: 0 auto;
        display: flex;
        width: 78px;
        height: 80px;
    }

    &__name {
        color: $whiteColor;
        font-size: 22px;
        margin-top: 24px;
    }

    &__position {
        color: $darkCoralColor;
        margin-top: 5px;
    }

    &__job-description {
       color: $whiteColor;
       opacity: 0.65;
       margin-top: 25px;
    }
}