$whiteColor: #FFFFFF;
$coralColor: #FB8686;
$darkBlueColor: rgba(50, 57, 105, 1);
$blackColor: #282828; 
$smallTextGreyColor: #8A8A8A;
$bgGreyColor: #F6F5F3;
$boldTextGreyColor: #A6A7AA;
$playBtnHover:  rgba(50, 57, 105, 0.8);
$tryBtnHover: rgba(255, 109, 109, 0.8);
$lightGreyColor: #f6f5f3;
$darkCoralColor: #FF6D6D;
$inputBGColor: #464C77;
$inputBorderColor: #999CB4;
$footerInputColor: #F6F6F6;